name: "Build"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Test build
    # We gebruiken Ubuntu 20.04 omdat die beter werkt met oudere Node versies
    runs-on: ubuntu-20.04 
    steps:
      - uses: actions/checkout@v4 # Geüpdatet naar v4

      - name: Setup Node.js
        uses: actions/setup-node@v4 # Geüpdatet naar v4
        with:
          node-version: '12'

      - name: Build
        run: |
          npm install
          npm run build

      - name: Upload result
        uses: actions/upload-artifact@v4 # NU OP v4 (verplicht)
        with:
          name: tado-card-js
          path: dist/tadothermostat-popup-card.js
